<%- include('../layout/header') %>
<div class="container text-center rounded-3 border-4 bg-body-tertiary p-4 h-auto w-25">
    <h1>Sign Up</h1>
    <form method="POST" action="api/users/signup"> <!-- Adjust the action URL as needed -->
        <div class="mb-3 text-start">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
        </div>
        <div class="mb-3 text-start">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3 text-start">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
    </form>
</div>
<%- include('../layout/footer') %>
